body {
    background: #192841;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightgray;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.header {
  font-weight: bold;
  font-size: 2em;
}

#tiny-app {
    width: 100%;
    max-width: 1000px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.code {
  background: #FFFFD8;
  color: black;
  border: 1px solid black;
  padding: 25px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 0.75em;
  white-space: pre-wrap;
}

.underline {
  text-decoration: underline;
}

.sidebar button {
  background: none;
  color: lightgray;
  border: none;
  font-size: 1em;
}

.sidebar button.active {
  text-decoration: underline;
}

.placeholder {
  margin-top: 1em;
  font-family: monospace;
  font-size: 0.75em;
}

.w-100 {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 25px;
}
