body {
    background: #192841;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightgray;
    font-size: 1.5em;
}

section {
    width: 100%;
    max-width: 800px;
}
